:root {
  --mainColor: #4a4a4a;
  --hoverColor: #e71575;
}

body {
  color: var(--mainColor);
  margin: 0;
  padding: 20px 0;
  font: 400 16px/1.4 Helvetica, Arial, sans-serif;
}

.link {
  color: var(--mainColor);
  text-decoration: none;
  transition: color 200ms ease-out;

  &:hover {
    color: var(--hoverColor);
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.trips {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &::after {
    content: '';
    width: 32%;
  }
}

.trip {
  border-radius: 10px;
  box-shadow: 0 6px 16px 0 rgba(0,0,0,.15);
  width: 32%;
  margin-bottom: 25px;
}

.trip__content {
  padding: 0 15px 20px;

  p {
    margin: 0;
  }
}

.trip__title {
  margin: 0 15px 12px;
}

.trip__link {
  &:hover {
    .trip__pic img {
      transform: translate(-50%, -50%) scale(1.2);
      transition: transform 350ms ease-out;
    }
  }
}

.trip__pic {
  height: 220px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 10px 10px 0 0;

  img {
    will-change: transform;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 200ms ease-out;
  }
}

.trip-page__hosts {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.trip__back {
  &::before {
    content: '\2190';
    margin-right: 4px;
  }
}

.trip-page__fav {
  will-change: transform;
  text-indent: -9999px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 26px;
  height: 20px;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    content: '';
    left: 13px;
    top: 0;
    width: 13px;
    height: 20px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }

  &::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }

  &:hover {
    animation: .8s infinite pulse;
  }
}

.host {
  margin: 0 12px 12px 0;
}

.host__pic {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 8px;
  background-size: contain;
  background-color: #eee;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
